In [2]:
import pandas as pd

In [62]:
# df = pd.read_csv("../data/dry_etch.csv")

# As the columns cell data contains 'whitespace'. So, just trim it while fetching data.
df = pd.read_csv("../data/dry_etch.csv", 
                 converters={'EquipID': str.strip, 
                             'RecipeUsedOnEquip': str.strip, 
                             'ActualDateIn': str.strip, 
                             'LotId': str.strip})

In [120]:
# show the column headers
df.columns.to_list()

['EquipID', 'RecipeUsedOnEquip', 'ActualDateIn', 'LotId']

In [67]:
# first 5 rows
df.head()

  EquipID RecipeUsedOnEquip      ActualDateIn         LotId
0   ASBE1                 2  09-03-2021 08:39  F20280002.F1
1   ASBE1                 2  09-03-2021 05:44  F20350002.F1
2   ASBE1                 2  09-03-2021 04:53  F20200003.F1
3   ASBE1                #2  08-03-2021 12:41  F20370001.F1
4   ASBE1                #2  08-03-2021 10:25  F20280002.F1

In [69]:
# last 5 rows
df.tail()

       EquipID RecipeUsedOnEquip ActualDateIn LotId
105583
105584
105585
105586
105587

In [82]:
# dropping rows where at least one element is missing
nan_val = float("NaN")

# replace "" with "NaN"
df.replace("", nan_val, inplace=True)

# drop rows with column - "EquipID" values as "NaN"
df.dropna(subset = ["EquipID"], inplace=True)

In [83]:
df.tail()

,EquipID,RecipeUsedOnEquip,ActualDateIn,LotId
17278,RESP1B,Wf 6. Z-VIA+ASH.1MIN; WF 7. Z-VA+ASH1MIN150W; ...,24-09-2013 12:02,S13360004.F6
17279,RESP1B,Z-VIA+ASH,21-09-2013 11:51,S13360004.F5
17280,RESP1B,BARC+ME120SEC,20-09-2013 15:20,S13360004.F4
17281,RESP1B,See the Remark,20-09-2013 15:18,S13360004.F2
17282,RESP1B,SPACER-ETCH,20-04-2013 12:09,T005547H1.F1

In [92]:
# create new CSV file
# purpose: to view & apply filter while viewing in Excel
df.to_csv('out.csv', index=False)

In [1]:
# Fetch all the unique equip-ids provided in the data using `set()`
equip_list_unique = list(set(df["EquipID"].to_list()))
equip_list_unique
['CLMUV1',
 'REOX1B',
 'CLREPL1',
 'ASFE1',
 'CLREML1',
 'REPL1B',
 'REOX1A',
 'RESP1A',
 'ASBE1',
 'REML1C,ASBE1',
 'ASFE1,ASBE1',
 'REPL1A',
 'REML1C',
 'ASBE1,REML1C',
 'CLFRBG1',
 'CLREOX1',
 'RESP1B',
 'REOX1C',
 'CLRESP1',
 'REML1A']
equip_list_unique

NameError: name 'df' is not defined

----------------------------------------------------------------------------------------------------------------

### Recipes run in ASBE1

#### Objectives
* show the recipes run in lots
* frequency of each recipe

In [105]:
# show the equip names by which the entry has been done in DMIS
asbe1_equip_names = [e for e in equip_list_unique if "ASBE1" in e]
asbe1_equip_names

['ASBE1', 'REML1C,ASBE1', 'ASFE1,ASBE1', 'ASBE1,REML1C']

In [118]:
# create df for "EquipID" col values as `asbe1_equip_names` list
df_asbe1 = df[df["EquipID"].isin(asbe1_equip_names)]

# first 5 rows
df_asbe1.head()

  EquipID RecipeUsedOnEquip      ActualDateIn         LotId
0   ASBE1                 2  09-03-2021 08:39  F20280002.F1
1   ASBE1                 2  09-03-2021 05:44  F20350002.F1
2   ASBE1                 2  09-03-2021 04:53  F20200003.F1
3   ASBE1                #2  08-03-2021 12:41  F20370001.F1
4   ASBE1                #2  08-03-2021 10:25  F20280002.F1

In [124]:
# fetch all the unique recipes in this equipment/chamber by `asbe1_equip_names` list
recipes_asbe1 = list(set(df_asbe1["RecipeUsedOnEquip"].to_list()))
recipes_asbe1

['#D',
 ': Recipe # D',
 'TS18SL_STRIP',
 'Recipe # D.',
 'Recipe: Recipe # 2',
 'Recipe: Recipe # D',
 'F',
 'ipe # B( if in ASBE1); Recipe:TS18SLSTRIP(if in ASP Chamber of CLREML1).',
 'Recipe#7(300sec) in ASFE1,Recipe:TS18SLStrip in ASP Chamber',
 'Recipe # 4',
 '2',
 'See Remarks for recipes.',
 ': Recipe # 2',
 'Recipe # 3',
 'V2PreDUVASH',
 '# 2',
 '#1',
 'B',
 'Recipe#1',
 'test',
 'TS18SLSTRIP',
 '#3',
 '# D',
 'D',
 '# 3',
 '#6',
 '3',
 '# D.',
 '#d',
 'Recipe # D',
 'See Remark',
 'Recipe#6',
 '#2',
 'TS18SL STRIP',
 'Recipe 1',
 'Recipe # 2',
 'TS18SLSTRIP-REML1']

----------------------------------------------------------------------------------------------------------------

### Recipes run in ASFE1

#### Objectives
* show the recipes run in lots
* frequency of each recipe

In [125]:
# show the equip names by which the entry has been done in DMIS
asfe1_equip_names = [e for e in equip_list_unique if "ASFE1" in e]
asfe1_equip_names

['ASFE1', 'ASFE1,ASBE1']

In [127]:
# create df for "EquipID" col values as `asbe1_equip_names` list
df_asfe1 = df[df["EquipID"].isin(asfe1_equip_names)]

# first 5 rows
df_asfe1.head()

     EquipID RecipeUsedOnEquip      ActualDateIn         LotId
1011   ASFE1                 2  16-03-2021 12:07  F20370001.F1
1012   ASFE1                #2  15-03-2021 21:14  F19410001.F1
1013   ASFE1                #2  15-03-2021 19:33  F21040001.F1
1014   ASFE1                #2  15-03-2021 16:41  F20280002.F1
1015   ASFE1                 D  15-03-2021 10:13  F21110001.F1

In [128]:
# fetch all the unique recipes in this equipment/chamber by `asbe1_equip_names` list
recipes_asfe1 = list(set(df_asfe1["RecipeUsedOnEquip"].to_list()))
recipes_asfe1

['2,5,and 1',
 '#D',
 ': Recipe # D',
 'NOTE: After ASH, arrange wafers in corresponding slots in the wafer sorter.  Recipe: Recipe # D',
 'B D',
 'Recipe # D.',
 'Recipe: Recipe # 2',
 'Recipe: Recipe # D',
 '1902',
 'F',
 'C1D_ASHING-NFM--Post',
 'Recipe # 4',
 'Recipe:2',
 '2',
 'Recipe F',
 'Recipe# 2',
 'Recipe  D',
 ': Recipe # 2',
 'RecipeD',
 'ASHER1',
 'Recipe # 3',
 'Z-SIPMGC1',
 '# 2',
 'Reciepe 2',
 'Reciepe 3',
 '60 sec',
 '6',
 'ASH',
 'TS18SLSTRIP',
 '#3',
 '# 3',
 'D',
 '# D',
 '#6',
 'Recipe2',
 'pre duv ash',
 'Recipe: Recipe # 3',
 '3',
 '# D.',
 '#d',
 'Recipe  2',
 'Recipe  3',
 'Recipe 3',
 'Reciepe D',
 'sorter.  Recipe: Recipe # D',
 '60 s',
 'NO  Run',
 'RAA_FI"',
 ': #2',
 'Recipe # D',
 'e# 2',
 ': Recipe # 3',
 'ASHER1--CNS Ash',
 '#2',
 '2 and 1',
 'ecipe: #2',
 'D B',
 'Recipe 2',
 'Recipe#2',
 'Recipe-2',
 'recipe D',
 'Recipe: #2',
 'e#2',
 'Recipe D',
 'd',
 'Recipe # 2',
 'Post GC Ash']

----------------------------------------------------------------------------------------------------------------

### Recipes run in REML1A

----------------------------------------------------------------------------------------------------------------

### Recipes run in ASBE1

----------------------------------------------------------------------------------------------------------------

### Recipes run in ASBE1

----------------------------------------------------------------------------------------------------------------