In [1]:
import pandas as pd

In [2]:
# df = pd.read_csv("../data/dry_etch.csv")

# As the columns cell data contains 'whitespace'. So, just trim it while fetching data.
df = pd.read_csv("../data/dry_etch.csv", 
                 converters={'EquipID': str.strip, 
                             'RecipeUsedOnEquip': str.strip, 
                             'ActualDateIn': str.strip, 
                             'LotId': str.strip})

In [3]:
# show the column headers
df.columns.to_list()

['EquipID', 'RecipeUsedOnEquip', 'ActualDateIn', 'LotId']

In [4]:
# first 5 rows
df.head()

  EquipID RecipeUsedOnEquip      ActualDateIn         LotId
0   ASBE1                 2  09-03-2021 08:39  F20280002.F1
1   ASBE1                 2  09-03-2021 05:44  F20350002.F1
2   ASBE1                 2  09-03-2021 04:53  F20200003.F1
3   ASBE1                #2  08-03-2021 12:41  F20370001.F1
4   ASBE1                #2  08-03-2021 10:25  F20280002.F1

In [5]:
# last 5 rows
df.tail()

       EquipID RecipeUsedOnEquip ActualDateIn LotId
105583
105584
105585
105586
105587

In [6]:
# dropping rows where at least one element is missing
nan_val = float("NaN")

# replace "" with "NaN"
df.replace("", nan_val, inplace=True)

# drop rows with column - "EquipID" values as "NaN"
df.dropna(subset = ["EquipID"], inplace=True)

In [7]:
df.tail()

,EquipID,RecipeUsedOnEquip,ActualDateIn,LotId
17278,RESP1B,Wf 6. Z-VIA+ASH.1MIN; WF 7. Z-VA+ASH1MIN150W; ...,24-09-2013 12:02,S13360004.F6
17279,RESP1B,Z-VIA+ASH,21-09-2013 11:51,S13360004.F5
17280,RESP1B,BARC+ME120SEC,20-09-2013 15:20,S13360004.F4
17281,RESP1B,See the Remark,20-09-2013 15:18,S13360004.F2
17282,RESP1B,SPACER-ETCH,20-04-2013 12:09,T005547H1.F1

In [8]:
# create new CSV file
# purpose: to view & apply filter while viewing in Excel
df.to_csv('out.csv', index=False)

In [9]:
# Fetch all the unique equip-ids provided in the data using `set()`
equip_list_unique = list(set(df["EquipID"].to_list()))
equip_list_unique

['REML1A',
 'REOX1A',
 'REPL1A',
 'REML1C,ASBE1',
 'REOX1C',
 'RESP1A',
 'CLMUV1',
 'ASFE1,ASBE1',
 'CLREOX1',
 'REOX1B',
 'CLREPL1',
 'ASBE1,REML1C',
 'ASFE1',
 'RESP1B',
 'REML1C',
 'CLFRBG1',
 'CLRESP1',
 'ASBE1',
 'REPL1B',
 'CLREML1']

----------------------------------------------------------------------------------------------------------------

### Recipes run in ASBE1

#### Objectives
* show the recipes run in lots
* frequency of each recipe

In [10]:
# show the equip names by which the entry has been done in DMIS
asbe1_equip_names = [e for e in equip_list_unique if "ASBE1" in e]
asbe1_equip_names

['REML1C,ASBE1', 'ASFE1,ASBE1', 'ASBE1,REML1C', 'ASBE1']

In [11]:
# create df for "EquipID" col values as `*_equip_names` list
df_asbe1 = df[df["EquipID"].isin(asbe1_equip_names)]

# first 5 rows
df_asbe1.head()

  EquipID RecipeUsedOnEquip      ActualDateIn         LotId
0   ASBE1                 2  09-03-2021 08:39  F20280002.F1
1   ASBE1                 2  09-03-2021 05:44  F20350002.F1
2   ASBE1                 2  09-03-2021 04:53  F20200003.F1
3   ASBE1                #2  08-03-2021 12:41  F20370001.F1
4   ASBE1                #2  08-03-2021 10:25  F20280002.F1

In [27]:
# get the shape (row, col) of dataframe
df_asbe1.shape

(1013, 4)

In [12]:
# fetch all the unique recipes in this equipment/chamber by `*_equip_names` list
recipes_asbe1 = list(set(df_asbe1["RecipeUsedOnEquip"].to_list()))
recipes_asbe1

['# 2',
 'TS18SL STRIP',
 '#1',
 'Recipe # D.',
 'Recipe#7(300sec) in ASFE1,Recipe:TS18SLStrip in ASP Chamber',
 'See Remark',
 '2',
 '#d',
 'Recipe: Recipe # D',
 '#6',
 'Recipe 1',
 'TS18SLSTRIP-REML1',
 'D',
 '# D.',
 'TS18SL_STRIP',
 'Recipe # 4',
 'Recipe#6',
 '# D',
 '#2',
 'test',
 'F',
 ': Recipe # 2',
 'ipe # B( if in ASBE1); Recipe:TS18SLSTRIP(if in ASP Chamber of CLREML1).',
 'Recipe # 3',
 '# 3',
 'See Remarks for recipes.',
 '#3',
 'V2PreDUVASH',
 'Recipe # D',
 'TS18SLSTRIP',
 'B',
 'Recipe # 2',
 '3',
 '#D',
 'Recipe#1',
 'Recipe: Recipe # 2',
 ': Recipe # D']

----------------------------------------------------------------------------------------------------------------

### Recipes run in ASFE1

#### Objectives
* show the recipes run in lots
* frequency of each recipe

In [13]:
# show the equip names by which the entry has been done in DMIS
asfe1_equip_names = [e for e in equip_list_unique if "ASFE1" in e]
asfe1_equip_names

['ASFE1,ASBE1', 'ASFE1']

In [14]:
# create df for "EquipID" col values as `*_equip_names` list
df_asfe1 = df[df["EquipID"].isin(asfe1_equip_names)]

# first 5 rows
df_asfe1.head()

     EquipID RecipeUsedOnEquip      ActualDateIn         LotId
1011   ASFE1                 2  16-03-2021 12:07  F20370001.F1
1012   ASFE1                #2  15-03-2021 21:14  F19410001.F1
1013   ASFE1                #2  15-03-2021 19:33  F21040001.F1
1014   ASFE1                #2  15-03-2021 16:41  F20280002.F1
1015   ASFE1                 D  15-03-2021 10:13  F21110001.F1

In [26]:
# get the shape (row, col) of dataframe
df_asfe1.shape

(5027, 4)

In [15]:
# fetch all the unique recipes in this equipment/chamber by `*_equip_names` list
recipes_asfe1 = list(set(df_asfe1["RecipeUsedOnEquip"].to_list()))
recipes_asfe1

['ASHER1--CNS Ash',
 'Recipe  3',
 '# 2',
 'Recipe# 2',
 'Recipe # D.',
 'Recipe  D',
 'e#2',
 'Recipe 2',
 'ASHER1',
 '2',
 'D B',
 '6',
 'd',
 'B D',
 '#d',
 'Recipe: Recipe # D',
 'Recipe:2',
 '#6',
 'Z-SIPMGC1',
 'D',
 'e# 2',
 '# D.',
 '60 s',
 'ecipe: #2',
 'Recipe D',
 'Recipe # 4',
 'ASH',
 '# D',
 'NO  Run',
 '#2',
 'Recipe: #2',
 'C1D_ASHING-NFM--Post',
 'F',
 ': Recipe # 2',
 'Reciepe D',
 'Reciepe 3',
 'Recipe-2',
 'Recipe # 3',
 '# 3',
 '2 and 1',
 'Recipe: Recipe # 3',
 'recipe D',
 '#3',
 'pre duv ash',
 'Recipe  2',
 '2,5,and 1',
 'sorter.  Recipe: Recipe # D',
 'Reciepe 2',
 'Recipe # D',
 'Recipe#2',
 'NOTE: After ASH, arrange wafers in corresponding slots in the wafer sorter.  Recipe: Recipe # D',
 'TS18SLSTRIP',
 'Recipe 3',
 ': #2',
 'RAA_FI"',
 'Recipe # 2',
 '60 sec',
 'Post GC Ash',
 '3',
 '#D',
 ': Recipe # 3',
 'Recipe2',
 '1902',
 'Recipe: Recipe # 2',
 'Recipe F',
 ': Recipe # D',
 'RecipeD']

----------------------------------------------------------------------------------------------------------------

### Recipes run in REML1

#### Objectives
* show the recipes run in lots
* frequency of each recipe

In [16]:
# show the equip names by which the entry has been done in DMIS
reml1_equip_names = [e for e in equip_list_unique if "REML1" in e]
reml1_equip_names

['REML1A', 'REML1C,ASBE1', 'ASBE1,REML1C', 'REML1C', 'CLREML1']

In [17]:
# create df for "EquipID" col values as `*_equip_names` list
df_reml1 = df[df["EquipID"].isin(reml1_equip_names)]

# first 5 rows
df_reml1.head()

           EquipID RecipeUsedOnEquip      ActualDateIn         LotId
1010  ASBE1,REML1C       TS18SLSTRIP  20-06-2014 14:19  F13360003.F1
6040       CLREML1    Z-CCD-ML-ETCH1  17-03-2021 15:11  F21020001.F7
6041       CLREML1    Z-TSL-M1-OE-55  17-03-2021 13:04  F19460002.F1
6042       CLREML1    Z-TSL-M1-OE-55  15-03-2021 19:05  F19320003.F1
6043       CLREML1      METAL Ti 600  15-03-2021 16:48  F21020001.F7

In [25]:
# get the shape (row, col) of dataframe
df_reml1.shape

(4872, 4)

In [18]:
# fetch all the unique recipes in this equipment/chamber by `*_equip_names` list
recipes_reml1 = list(set(df_reml1["RecipeUsedOnEquip"].to_list()))
recipes_reml1

['Z-M1-90-75',
 'Z-CCD-ML-ETCH1',
 'TS18SLSTRIP(i',
 'TS18SL STRIP',
 'Z-M2-ASP-LSH20',
 'ts18sl strip',
 'TSL18SLSTRIP',
 'z-MT-ETCH-DOE3',
 'Z-M1-10-70;Z-M1-20-70;Z-M1-20-80',
 'e: Recipe # B(if in ASBE1) Recipe:TS18SLSTRIP(if in ASP Chamber of CLREML1).',
 'MT-ETCH',
 'Z-TSL-WOBARC',
 'MIM CE ETCH-1)',
 'wf-8(METAL ETCH 11 chuck 35 0C)  wf-9(Z-M1-ETCH-STSTEP))',
 'Z-M1-20-70',
 'TS18SLSTRIP(if in ASP',
 'Z-TSL-M1-OE-60',
 'Z-M3-LSH20-60S',
 'Z-M1-DOE2',
 'MIM CE ETCH-1, Z-CE-NIT-350',
 'Sequence: Z-ML-LSH2O-60S',
 'Z-TS18SLSTRIP-10',
 'METAL ETCH 91',
 'Default',
 'Z-M1-20-80',
 'metal etch 21',
 '( if in ASBE1); Recipe:TS18SLSTRIP(if in ASP Chamber of CLREML1).',
 'nce: Z-ML-OE-70 Recipe: Z-ML-OE-70',
 'S18SL STRIP',
 'AS per Split Plan',
 'Z-M1-OE-70Sec',
 'METAL Ti 600',
 'Z-TSL-M1-10-55',
 'Metal Etch 33',
 'ML-PW-LONG-OE',
 'sSequence: Z-RESP1-EXASHING',
 'Recipe:TS18SLSTRIP(if in ASP Chamber of CLREML1).',
 'Z-MT-ETCH-DOE5',
 'Z-M1-WO-ME2OE Z-M1-ME2-OE',
 'Z-CCD-M1-ETCH',
 'Z-M1-DOE5',
 'As per Rmark',
 'Z-TSL-M1-OE-55',
 'Z-ML-OE-70',
 'Sequence: Z-MT-ETCH-DOE5.  Recipe: Z-MT-ETCH-DOE5.',
 'Z-ML-LSH20-60sec',
 'Pre DUV Ash',
 'MIM CE ETCH-1,Z-CE-NIT-350',
 'Sq: Z-M3-LSH2O-60s',
 'METAL ETCH 33. Recipe: METAL ETCH 33.',
 'Z-M1-LSH2O-40S',
 'Sequence:Z-CCD-M1-ETCH. Recipe:Z-CCD-M1-ETCH.',
 'Z-TSL-M1-WOBARC',
 'M1  PW  LONG  OE  (Z-M1-10-75)',
 'B',
 'Z-M1-ME-BIAS90W',
 'cipe:TS18SLSTRIP(if in ASP Chamber of CLREML1).',
 'Z-ML-OE-70Sec',
 'Z-TSL-M1-OE-55S',
 'Z-M3-MIM-BTI-55',
 'Z_SCL_M1_WOBARC',
 'MIM CE ETCH-11',
 'Z-OLD METAL1 ETCH',
 'Recipe: METAL ETCH 33',
 'ts18slstrip',
 'Z-M2-LSH2O-40S',
 'Z-M1-DOE6',
 'Z-M1-ASP-LSH20',
 ':TS18SLSTRIP',
 'Z-M1-GAS-BIAS 70',
 'Z-M1-WO-ME2OE',
 'Z-M1-10-80;Z-M1-20-7-;Z-M1-10-70 RUN diff slots',
 'metal etch 91',
 'Z-TSL-M1-OE-55,Z-TSL-M1-OE-60',
 'MIM CE Etch',
 'ASP-REWORK',
 'Z-M1-DOE4',
 'Sequence: MIM CE ETCH-1. Recipe: MIM CE ETCH-1.',
 'Z-M1-ASP-LSH2O',
 'Z-M1-10-80',
 'Recipe:TS18SLSTRIP',
 'Z-PAD-PR-ASH',
 'M2 PWSHORT OVERETCH',
 'Z-CCD-ML-ETCH',
 'Z-TSL-M1-OE-55, Z-TSL-M1-OE-60',
 ':METAL Ti 600',
 'as per the split plan',
 'Z-ML-20-70',
 'S18SLSTRIP(i',
 'Z-M1-10-70',
 ':  Recipe: SCL-M3MIM-WOBARC',
 'Z-ML-BT15-ME20 1',
 'Z-M1-TSL-OE-45',
 'Recipe # B(if in ASBE1)',
 '#3',
 'Sorter',
 'MIM CE Etch-1',
 'Z-OLDM1ETCHME210',
 'See  Remarks',
 'Metal Etch 21',
 'TS18SLSTRIP(if in ASP Chamber of CLREML1)',
 'Z-OLD METAL1ETCH',
 'B( if in ASBE1);',
 'Metal Ti 600',
 'Seq.    Z-ML-OE-70',
 'METAL ETCH 11',
 'Z-M2-DOE6',
 'Z-TSLM1-OE-55',
 'SCL-M3MIM-WOBARC/Z-M3-NIT-350',
 'Z-M1-GR1-OE-80S',
 'Recipe: Z-TSL-M1-OE-55',
 'Z-MT-ETCH-DOE5.',
 'Z-M1-DOE3',
 '#NAME?',
 'MIM CE ETCH-1',
 'ASP7 Step',
 'Z-M1-LSH20-40S',
 'Z-VIARE-PR-ASH',
 'Recipe: Recipe # B(if in ASBE1) Recipe:TS18SLSTRIP(if in ASP Chamber of CLREML1).',
 'ecipe:TS18SLSTRIP(if in ASP Chamber of CLREML1).',
 'See Remarks',
 ': Z-TSL-M1-OE-55 Recipe: Z-TSL-M1-OE-55',
 'Z-CE-NIT-350',
 'Sequence: MIM CE ETCH-1 Recipe: MIM CE ETCH-1',
 'Z-M1-LSH2O-60S',
 'Recipe # B(',
 'Z-ML-NEW-10-70',
 'Z-M3-MIM-OTP',
 'Z-CCD-M1 ETCH',
 'TS18SLSTRIP and ASP-REWORK',
 'Z-MT-ETCH-DOE4',
 'uence: Z-TSL-M1-OE-55 Recipe: Z-TSL-M1-OE-55',
 'TS18SLSTRIP(',
 'TS18SCL STRIP',
 'ASP-PDUV',
 'Recipe Name:TS18SLSTRIP',
 'MIM CE ETCH-1,Z-MIM-CE-ETCH-5',
 'Z-ML-BT15-ME20',
 'see remarks',
 'Z-MIM-CE-ETCH-3',
 'RAA ETCH',
 'Metal ETCH11 (Wf#1),Z-M1-15-55 (WF#2),Z-M1-15-50(WF#3),Z-M1-20-50 (WF#4)',
 'M2 PW LONG OE',
 'Z-ML-LSH2O-60S',
 'Z-C1D-ML-Ti-TiN',
 'Z-M1-DOE7',
 'Z-CCD-M1-ETCH.',
 'Z-M1-10:60 WBARC',
 'METAL ETCH 21   35 0C',
 'Z-M1-30-60',
 'Metal Etch 11',
 'As Per Split Plan',
 'Sequence: Z-ML-OE-70 Recipe: Z-ML-OE-70',
 'Z-M1-15-70',
 'Z-M3-MIM-BT1-55',
 'METALL ME2 10S',
 'Sequence/Recipe: METAL Ti 600',
 'Z RESP1 EXASHING',
 'Z-MST-ETCH',
 'Z-M1-90-90-150',
 'Z-M1-10:60 WOARC',
 'Z-M1-WO-OE',
 'Z-VIA-DOE13',
 'METAL ETCH 21',
 'as per splits',
 'Z-C1D-Ml-Ti-TiN',
 'Z-ML-L-LSH2O-60S',
 'Z-M1-GAS RATIO 1',
 'Z-M3-LSH2O-60S',
 'Z-M2-NO-OE',
 'TS18SL-STRIP',
 'Z_ML_OE_70',
 'CLREML1',
 'Recipe: TS18SLSTRIP',
 ':TS18SLSTRIP(if',
 'Z-Mt-ETCH-DOE2',
 'CLREML1).',
 'MIM CE Etch :TiN (EP)/ Oxide/ SiN.',
 'Z-M3MIM-OTP',
 'BARCER1-33S',
 '1-10(Z-M3-MIM-OTP)WF#11,12(Z-METAL ETCH330',
 'Z-M1-ETCH-NOASH',
 'METAL ETCH 11/on wf22  Z-M1-LSH20-40s',
 'Z-M1-DOE1',
 'MIM CE ETCH1',
 'METAL ETCH 33',
 'Z-MT-ETCH-DOE1',
 'Z-M1-10-70S',
 'TS18SLSTRIP(if',
 'METAL1 - NO ME2',
 'e: Z-ML-OE-70 Recipe: Z-ML-OE-70',
 'MIM CE ETCH 1',
 '#9,10,11,12,25-',
 'Z-ML-NEW-10-701',
 'Z-M2-DOE7',
 'Z-M1-20-60',
 'TS18SLSTRIP.',
 'METAL ETCH 11 and Z-M1-LSH2O-40S',
 'Z-M2-LSH20-40S',
 'ipe:TS18SLSTRIP(if in ASP Chamber of CLREML1).',
 'TS18SL_STRIP',
 'scl-ml-etch',
 'e: MIM CE ETCH-1 Recipe: MIM CE ETCH-1',
 'Z-TSL-M1-OE-55                                           Sequence:  Recipe: Z-TSL-M1-OE-55',
 'Recipe # B',
 'PASSIVATION ETCH',
 '2) If done in ASP Chamber of CLREML1 tool. Recipe: TS18SLSTRIP',
 ':Metal Ti 600',
 'Z-M1-STD-WOBARC',
 'METAL ETCH 33.',
 'Z-METAL-PDUV',
 'Z-CV-Al-8000A',
 'new recipe',
 'METAL1 ME2 10S',
 'Sequence: Z-M2-LSH2O-40S',
 'standard',
 'SCL-M3MIM-WOBARC, Z-M3-NIT-350',
 'z-mst-etch',
 'Sequence: Z-CCD-M1-ETCH. Recipe: Z-CCD-M1-ETCH.',
 'default',
 'Z-CCD-ML-ETCH.',
 'e: Z-TSL-M1-OE-55 Recipe: Z-TSL-M1-OE-55',
 'METAL2 ME2 10S',
 'Z-RESP1-EXASHING',
 'Metal Etch 91',
 ':TS18SLSTRIP(if in',
 'Z-CV-AL-8000A',
 'Z-MT-ETCH-DOE3',
 'SCL-ML-ETCH',
 'Recipe # 1',
 'Z-TSL-M1-OE-601',
 'Z-TSL-M1-OE-50',
 'SCL-M3MIM-WOBARC',
 'z-m1-2070-woash',
 'ML-PW-SHORT-OE',
 'Z-M1-10:60-WOBARC',
 'TS18SLSTRIP',
 'X-M2-55-ASH-H2O',
 'SCL-ML-ETCH,SCL-ML-ETCH-NOASH',
 'AS PER RUN CARD',
 'Sequence: Z-TSL-M1-OE-55 Recipe: Z-TSL-M1-OE-55',
 'wf-10(Z-M1-GR1-OE-80S) wf-11(Z-M1-GR1-OECL-15)',
 'In Remarks',
 'TS18SLSRTRIP',
 'TS18SLSTRIP(if i',
 'ASP CLEAN',
 ':  Recipe: Z-TSL-M1-OE-55',
 'SCL-M3-MIM-ETCH',
 'Z-M2-LSH2O-60S',
 'Z-M2-CHF3-14']

----------------------------------------------------------------------------------------------------------------

### Recipes run in REOX1

In [20]:
# show the equip names by which the entry has been done in DMIS
reox1_equip_names = [e for e in equip_list_unique if "REOX1" in e]
reox1_equip_names

['REOX1A', 'REOX1C', 'CLREOX1', 'REOX1B']

In [21]:
# create df for "EquipID" col values as `*_equip_names` list
df_reox1 = df[df["EquipID"].isin(reox1_equip_names)]

# first 5 rows
df_reox1.head()

      EquipID RecipeUsedOnEquip      ActualDateIn         LotId
8439  CLREOX1     Z-CCD-VL-DOE1  18-03-2020 21:19  S20130002.F1
8440  CLREOX1  Z-ARCCCDPAD-DOE4  04-04-2019 15:13  F18180001.F7
8441  CLREOX1     Z-CCD-PD-ETCH  05-03-2019 17:32  R17380003.F1
8442  CLREOX1     Z-CCD-PD-ETCH  05-03-2019 15:47  F18090002.F5
8443  CLREOX1     Z-CCD-PD-ETCH  04-03-2019 13:35  F18090003.F5

In [24]:
# get the shape (row, col) of dataframe
df_reox1.shape

(1384, 4)

In [28]:
# fetch all the unique recipes in this equipment/chamber by `*_equip_names` list
recipes_reox1 = list(set(df_reox1["RecipeUsedOnEquip"].to_list()))
recipes_reox1

['Z-CCD-ML-ETCH1',
 'Z-ARCCCDPAD-DOE3',
 'C:RAA ETCH',
 'Z-CS-CCD-DOE5',
 'Z-TTM-340,375,400(10,11,12)',
 'quence: A:PASSIVA.ETCH Recipe: PASSIVATION ETCH',
 'Z-CS-SIPM',
 'Z-CS-SIPM-90',
 'Z-CCD-TWO STEP',
 'RAA-ETCH',
 'Z-SIPM-ARC-ETCH',
 'raa etch',
 'Z-CCD-TWO STEP AND Z-CCD-30 50',
 'Z-TTM-375',
 'Z-RAA-ETCH',
 'VIA ETCH',
 'Z CS ETH 0G 150S',
 'Z-PD-SIPM',
 'B:PASSIVATION ETCH',
 'AS PER SPLIT PLAN',
 'Z-CCD-CS-NEW',
 'Z-CCD-CS_NEW',
 'z-ccd-cs-doe1',
 'Z-CCD-VL-DOE1',
 'Z-CCD-PD-ETCH1',
 'PASSI.ETCH TIN',
 'CNT ETCH 11',
 'Z-CCD-VL-DOE1.',
 'Z CS BARC ETCH0G',
 'Z-CS-SIPM-100',
 'Z-CCD-PD-ETCH-B',
 'C:RAA ETCH.',
 'SCL-CS-NEW',
 'Z-CS-CCD-DOE2',
 'Z-CS_CCD_DOE4',
 'BARC ER',
 'B:Z-CCD-VL-DOE1.',
 'PASSIVATION ETCH"',
 'B:PASSIVA.ETCH',
 'Z-CCD-CS NEW.',
 'Z-CCDC-CS NEW',
 'A:PASSIVA.ETCHA:PASSIVA.ETCH',
 'TTM PAD ETCH',
 'PASSIVATION  ETCH',
 'CNT BARC ONLY',
 'Z-CCD-CS-210S',
 'arc ccd pad',
 'C:RAA WOBARC',
 'B:PhotositeExp',
 'Z-CS-CCD-DOE4',
 'Z-CCD-CS-230S',
 'Z-CS-SIPM-80',
 'RAA ETCH WO BARC',
 'Z-CCD-CS-170S',
 'Z-CCD-V2-DOE1 ME 2 min 50 sec',
 'Z-CCD-CS-170s',
 'Z-CCD-PD-ETCH',
 'PASSIVA.ETCH',
 'as per remarks',
 'Sequence: A:PASSIVA.ETCH Recipe: PASSIVATION ETCH',
 'Z-OTP-ONO-ETCH',
 'B:PASSIVA ETCH',
 'PASSIVATION ETCH2',
 'Z-CCD-CS-150S',
 'NAME?',
 'Z-CCD-CS NEW',
 'Z-CCD-PD-ETCH(120Sec)',
 'BPSG Etch',
 'RAA ETCH"',
 'Z-VIA ETCH 200S',
 'via etch',
 'Z-VIA ETCH 0G',
 'Z-CS-CCD-DOE3',
 'Z-CCD-V2-DOE2',
 'Z-VIA ETCH CHC',
 'Z-Pad Etch225/PASSIVATION ETCH/Z-PadEtch275',
 'Z-CCD-PD-ETCH.',
 'See Remarks',
 'A:PASSIV.ETCH',
 'CONTACT-ER',
 'Z-C1D-SPACER',
 'Z_PD_SIPM',
 'Z-CS-SIPM-60',
 'A:Passivation Etch',
 'RAA WO BARC ETCH',
 'A:PASS.ETCH TIN',
 'cs etch',
 'C:RAA SOI',
 'Z-CCD-V2-DOE1',
 'SCL_CS_NEW',
 'Photosite Exp',
 ': C:RAA ETCH; Re',
 'Z-CS-SIPM AND Z-CS-SIPM-60',
 'see remarks',
 'RAA ETCH',
 'Z-C1D-SPACER (75s)',
 'Z-RAA-SOI',
 'VIA-BARC ETCH',
 'Z-CCD-CS-190S',
 'Z_PD_SIPM1',
 'RAA-ER',
 'Z-C1D-VIA-RAIL',
 'z-ARCCCDPAD-DOE4',
 'Z-CS-SIPM-BC',
 'Z-CS ETCH 0G',
 'Passivation etch',
 'engineering recipes see remarks',
 'PASSIVATION ETCH250',
 'Z VIA OLD 1400RF(11),Z VIA1400W 185S',
 'VIA-ETCH',
 'Z-CCD-CS-190s',
 'as per run card',
 'Z-CS-DOE2',
 'Z-ARCCCDPAD_DOE2',
 'Z-VIAETCH200S',
 'BARCER1-33S',
 'RAA WOBARC ETCH',
 'Z-STI-HARD',
 'C: RAA ETCH',
 'Z-CCD-V2-10K',
 'via-etch',
 'PASSIVATION ETCH',
 'Z-ARCCCDPAD--DOE4',
 'A:PASSIVA. ETCH',
 'Z-CS-SIPM-70',
 'B: PASSIVATION ETCH',
 'A:PASSIVA.ETCH Recipe: PASSIVATION ETCH',
 'C: RAA WO BARC',
 'Z-ONO-OTP',
 'Z-CCD-TWO STEPS',
 'A:PASSIVA.ETCH',
 'Z-CCD-TWO-STEP',
 'default',
 'CS Etch',
 'C:RAA ETCH;',
 'RAA SOI, RAA ETCH',
 'Z-ARCCCDPAD-DOE1',
 ':Z-CCD-ER 20 50.',
 'B:PASSIVAION ETCH',
 'Z?-?CCD?-?CS?-?15?0?S?',
 'RAA PARTICLES CHECK',
 'Z-CCD-CS-7000',
 'Z-ARCCCDPAD-DOE4',
 'B:PASSIVA. ETCH',
 'Z-CCD-CS-170s.',
 'Sequence: Z-TTM-375 Recipe: Z-TTM-375',
 'C:RAA ETCH; R',
 'Z-CCD-ER 20 50',
 'TS18SLSTRIP',
 'A:PASSIVA.ETCH250',
 'PASS-ETCH',
 'PASSIVATION ETCH :B',
 'Z-HARD-ETCH',
 'passivation etch',
 'SCL RAA ETCH']

----------------------------------------------------------------------------------------------------------------

### Recipes run in REPL1

In [29]:
# show the equip names by which the entry has been done in DMIS
repl1_equip_names = [e for e in equip_list_unique if "REPL1" in e]
repl1_equip_names

['REPL1A', 'CLREPL1', 'REPL1B']

In [30]:
# create df for "EquipID" col values as `*_equip_names` list
df_repl1 = df[df["EquipID"].isin(repl1_equip_names)]

# first 5 rows
df_repl1.head()

,EquipID,RecipeUsedOnEquip,ActualDateIn,LotId
8616,CLREPL1,"Z-C1D-GC-OE-15(1,2) and Z-C1D-GC-HESET(wf 3-15))",19-09-2018 09:28,S17390001.F1
8617,CLREPL1,Z-C1D-GC-OE-15,16-09-2018 12:04,F18090003.F1
8618,CLREPL1,Z-C1D-GC-OE-15,30-08-2018 09:40,R17380003.F1
8619,CLREPL1,Z-C1D-GC-OE-15,29-08-2018 00:38,F18090002.F1
8620,CLREPL1,Z-C1D-AA-DOE2,30-05-2018 17:30,F18090003.F1

In [31]:
# get the shape (row, col) of dataframe
df_repl1.shape

(1737, 4)

In [32]:
# fetch all the unique recipes in this equipment/chamber by `*_equip_names` list
recipes_repl1 = list(set(df_repl1["RecipeUsedOnEquip"].to_list()))
recipes_repl1

[nan,
 'Z-CCD-AA-DOE1-63',
 'Z-STI-DOE1',
 'Z-CCD-P1-DOE2',
 'z-ccd-aa etch',
 'A:Z-CCDAADOE1-63',
 'Z-STI64-AA ETCH',
 'Z-SCMP-GC-ETCH',
 'Z-SOI-AA WO SCS',
 'Z-CCD-RAA-DOE1.',
 'DEMOS-AA-ETCH',
 'GC ETH',
 'Default',
 'B: AA-ETCH',
 'AS per Split Plan',
 'Z-C1D-GC-ETCH2',
 'Z-GC-ETCH-ME1-45 (BT 12 sec)',
 'Z-LDMOS-OAA',
 'Z-CCD-P2-NOSL and B:-CCD-P2-NOSL',
 'Z-SiPM_AA_NO_BARC',
 'Z-AA-ETCH-DOE1',
 'Dry Clean recipe',
 'Z-GC-Etch-ME1-45',
 'Z-CCD-P2-17NOO3',
 'Z-BJT-2POLY-500',
 'SCL-AA-ETCH',
 'Z-CCD-RAA-DOE2',
 'SCL-AA-ETCH-WOPR',
 'Z-CCD-ONO-ETCH',
 'Z-BJT-POLY-ETCH',
 '3',
 'GC2ETCH',
 'GC-ETCH   Z-GC-ETCH-ME1-45',
 'Poly Etch',
 '2',
 'SCL AA-ETCH-72',
 'Z-CMOS-MEMS-GC',
 'Z- AA ETCH 63S and Z- AA ETCH 77S',
 'z-ccd-p1-doe2',
 'AS per split plan 7 splits in OE',
 'AA-Etch',
 'Z-SIPM-AA-NOBARC',
 'SCL AA-ETCH-76',
 'Z-SIPMGC1',
 'Z-C1D-AA-DOE2',
 'GC ETCH',
 'aa etch',
 'B:AA ETCH',
 'Sequence name; Z-GC-ETCH-ME1-45  Recipe: Z-GC-ETCH-ME1-45',
 'SCL AA-ETCH-60',
 'SCL AA-ETCH-35',
 'Z-AA-ETCH-LP',
 'see paper runcard. Experiments were run to get EP.',
 'test',
 'Z-CCD-P1-ME2-60W',
 'Z-CCD-CB-DOE1',
 'Z-GC-ETCH-ME1-45',
 'Z-GC ETCH-OE-45S',
 'Z-CCCD-P2-DOE11',
 'Z-CCCD-P2-DOE7',
 'Z-CCD-P1-DOE3',
 'Z-GC-ETCH-ME1-45(BT-12s)',
 'Z-CCD-P2-DOE11',
 'SCL AA-ETCH-74',
 'Z-LDMOS-0AA',
 'B:Z-CCD-P2-DOE7',
 'Z-CCD-P2-DOE17',
 'A:AA-ETCH',
 'Z-CCD-P2-DOE17,Z-CCD-P2-17WOISO',
 'SCL AA-ETCH-70',
 'STD and Z-AA-ETCH-LP',
 'AA Etch',
 'Z-SOI-AAETCH',
 'Z-FIN-GC-DOE3',
 'Z-STI67-AA ETCH',
 'Z-SIPM_OAA',
 'z-soi-aa 30s',
 'SCL AA-ETCH-NOSI',
 'A:Z-CCD-AA-DOE1',
 'Z-SIPM-0AA',
 'Z-CCD-RAA-DOE1',
 'Z-SIPM_AA_NOBARC',
 'SCL AA ETCH',
 'Z-GC-OE-75MT',
 'A:GC ETCH',
 'Gc ETH',
 'Z-DSTI-DOE1+Z-DSTI-DOE2',
 'SCL AA-ETCH- 64',
 'Z-CCD-P2-DOE7',
 'AS PER RUNCARD',
 'Z-CCD-AA-DOE1 and Z-CCD-AA-DOE-631',
 'Sequence: AA-ETCH Recipe:',
 'Z-CCD-P1-DOE2 ,3,4,5,6',
 'Z-CCD-HOLE-DOE1',
 'See the remark',
 'BARC+SiN Step',
 'Z-CCD-AA-DOE1',
 'z-c1d-aa-doe2',
 'Z-CCD-P2-DOE2',
 'Z-CCD-P1-DOE6',
 'Z-BJT-POLY-W2000',
 'Z-C1D-GC-WO-OE',
 'Recipe: Z-CCD-AA-DOE1',
 'Z-CCD-P2-DOE12',
 'Z-C1D-AA-DOE1',
 'EXPT RECIPE',
 'SCL AA-ETCH-77',
 'Z-CCD-P2-DOE11-B',
 'Z_BJT_POLY_ETCH',
 'Z-DSTI-DOE1',
 'Z-CCD-P1DOE3 and DOE2',
 'attached excel',
 'As Per Split Plan',
 'Z-CCD-P2-DOE12 and Z-CCD-RAA-DOE2',
 '-Nitride-1 Etch',
 'Z-CCD-P1-ONO',
 'Z-C1D-GC-OE-15',
 'Z-SOI-AA-WO SCS',
 'z-ccd-p1-doe3',
 'Z-AA-WITH-ARSPTR',
 'SCL-SCMP-GC-ETCH(BT-12s)',
 'GC-ETCH',
 'Z-CCD-P1-DOE1',
 'AA',
 'Z-SIPM-AA-NOBAR',
 'SCL AA-ETCH',
 'Z-CCD-P2-DOE7-B',
 'as per runcard/mail',
 'WF#08 Z-GC-ETCH-ME1-45 WF#09 Z-SCMP-GC-ETCH',
 'Z-CCD-AA-DOE1-67',
 'as per run card',
 'Recipe: Z-GC-ETCH-ME1-45',
 'AA-ETCH-BG',
 'GC-ETCH-ME1-45',
 'Z-CCD-AA ETCH',
 'Z-STI72-AA ETCH',
 'Z-CCD-P1-WONO',
 'Z-CCD-Poly-Hole2,Z-CCD-Poly-Hole1',
 'AA-ETCH-SCMP23',
 'Z-STI-DOE1 Z-STI-DOE2',
 'Sequence: SCL AA-ETCH Recipe: SCL AA-ETCH',
 'A:Z-CCD-AA-DOE1-63',
 'Z-GC-BIAS-60W',
 'Z-STI-DOE1 and DOE2',
 'B:Z-CCD-P1-DOE3',
 'Z?-?CCD?-?AA?-?DOE?1?',
 'Z-P2-NOSLISO-OE',
 'Z-CCD-Poly-Hole',
 'Z-C1D-GC-OE-15(1,2) and Z-C1D-GC-HESET(wf 3-15))',
 ': AA-ETCH Recipe:',
 'Z-C1D-GC-ETCH',
 'Z-CCD-P1-DOE3,Z-CCD-P1-4500A',
 'AA ETCH',
 'Z-GC-SCMP16',
 'A:GC-ETCH',
 'Z-SIPM GC1',
 'SCL AA-ETCH-64',
 'scl aa etch',
 ': Z-GC-ETCH-ME1-45',
 'default',
 'Z-CCD-P2-NOSLISO',
 'Z-GC ETCH NEW',
 'SCL AA-ETCH-57',
 'SiN ER',
 'Z-CCD-P1-DOE3 ,Z-CCD-P1-ME2-60W',
 'Z-FIN-GC-DOE1(8),Z-FIN-GC-DOE2(1)',
 'Z-SIPM-GC1',
 'Z-GC-ETCH-ME-45sec',
 'Z-GC-ETCH-ME1-45 GC ETCH',
 'A:AA ETCH',
 'SCL AA SCMP11,12',
 'B: AA ETCH',
 'Z-CCD-P1-DOE3WOP',
 'Z-SCL-AA-ETCH',
 'AA-ETCH',
 'SCL-SCMP-GC-ETCH',
 'Z-CCD-P2-ISO-ETH']

----------------------------------------------------------------------------------------------------------------

### Recipes run in RESP1

In [33]:
# show the equip names by which the entry has been done in DMIS
resp1_equip_names = [e for e in equip_list_unique if "RESP1" in e]
resp1_equip_names

['RESP1A', 'RESP1B', 'CLRESP1']

In [34]:
# create df for "EquipID" col values as `*_equip_names` list
df_resp1 = df[df["EquipID"].isin(resp1_equip_names)]

# first 5 rows
df_resp1.head()

,EquipID,RecipeUsedOnEquip,ActualDateIn,LotId
8667,CLRESP1,Done at TSL,07-04-2016 17:18,S16060002.F4
8668,CLRESP1,barch etch,07-04-2016 14:20,S16060002.F5
8669,CLRESP1,"1(BARCER1),5(BARCER2),9(BARCER9))",05-04-2016 12:18,S16060002.F2
8670,CLRESP1,"1(BARCER1),5(BARCER2),9(BARCER9))",05-04-2016 12:15,S16060002.F2
8671,CLRESP1,"1(BARCER1),5(BARCER2),9(BARCER9))",05-04-2016 12:11,S16060002.F2

In [35]:
# get the shape (row, col) of dataframe
df_resp1.shape

(3251, 4)

In [36]:
# fetch all the unique recipes in this equipment/chamber by `*_equip_names` list
recipes_resp1 = list(set(df_resp1["RecipeUsedOnEquip"].to_list()))
recipes_resp1

['Z-CCD-CS-BC100',
 'SPACER_OE_13s',
 'barch etch',
 'BARCER1-28S',
 'Z-VL-13-NOASH',
 ':Z-VIA-DOE13',
 'Z-VIA_DOE13',
 'Z-RAA-ETCH',
 '1(BARCER1),5(BARCER2),9(BARCER9))',
 'Recipe:Z-CS-DOE1',
 'VIA ETCH',
 'z via last mim',
 'AS per Split Plan',
 '(wF# 18, DOE-Z-CS-DOE7)(wF# 23, DOE-Z-CS-DOE8) (wF# 24, DOE-Z-CS-DOE9)(wF# 25, DOE-Z-CS-DOE10)',
 'SPACER-C1D',
 ': BARCER1-33S',
 'Z-CCD-VL-DOE1',
 'See the Remark',
 'Z-CCD-CS-BC110',
 'Z-CCD-VL-DOE1.',
 'Z-VIA-DOE13 AND Z-VIA-SHORT-ME',
 'Z-VIA-SHORT-ME',
 'Z-TSL-M1-OE-55',
 'Wf 6. Z-VIA+ASH.1MIN; WF 7. Z-VA+ASH1MIN150W; WF 8. ZVA-1M.150W.45MT',
 'BARCER1',
 'Spacer-ETCH',
 'Z-OTP-ONO-Etch',
 'Z-VIA-I-13-NOASH',
 ':Z-VIA-DOE13-150S',
 'Z-VIA-DOE13.',
 '2',
 'Done at TSL',
 'BARCER1-38S',
 'Z-C1D-SPCER-DOE1',
 'Z-CS-SHORT-BC',
 'Z-VIA-DOE13 on wf#6,13; engineering recipe on other 2 wafers',
 'Z-VIA-DOE19',
 'Z-VIA-MIM-NOASH',
 'Recipe: SPACER-OE-13S.',
 'SPACER-OE-13S',
 'as per the split plan',
 'Z-CS-DOE1',
 'cipe:Z-CS-DOE1',
 'Z-CS-DOE-13',
 'Z-OTP-ONO-ETCH',
 'Recipe: BARCER1-33S',
 'Recipe:Z-VIA-DOE13-150S',
 'Z-VIA-DOE13-150S',
 'Z-VIA-LONG-ME',
 'SPACER-ETCH',
 'SPACER-OE 13',
 'BARC+ME120SEC',
 'SPACER-BETTER-ROX',
 'SPACER- OE-13S',
 'ME-ER-40',
 'Z-C1D-SPACER',
 'SPACER- OE- 13S',
 'Z-VIA-DOE8',
 'Recipe:Z-VIA-DOE13',
 'z-via-doe13',
 'SPACER-BET-ROX',
 'Z-CCD-V2-DOE1',
 'Z-VIA-DOE13-150S ,   Z-VIA-DOE13',
 'barcer1 33s',
 'Z-CCD-CS-BC120',
 'z-cs-doe1',
 'Z-CS-DOE2, Z-CS-DOE3,Z-CS-DOE4,Z-CS-DOE5,Z-CS-DOE6',
 'spacer -oe-13s',
 'Z-VL-WITH-MIM',
 'Z-CS-DOE1 AND Z-CS-DOE11',
 'Z-RAA-SOI',
 'BARCER1-33S,BARCER028S',
 'BARCER1-33s',
 'Z-C1D-VIA-RAIL',
 'Z-VIA-OTP-155S',
 'Z-VIA-DOE13',
 'VIAETCH99',
 'SPACER-OE-13S.',
 'e:Z-VIA-DOE13',
 'SPACER OE 13S',
 'wf#2 BARCER1(26 S),wf#6 BARCER1(36 S),wf#10 BARCER1(35 S)',
 'BARC+ME85SEC',
 'BARC-ONLY',
 'Z-CS-DOE2',
 'Z-CS-DOE13',
 ':Z-CS-DOE1',
 'BARCER1-33S',
 'Z-CS-DOE1-NOBC',
 'Z-CS-LONG-ME',
 'z-via-doe-13',
 'Z-VIA-DOE13-150Sec',
 'Z-VIA-OTP-150S',
 'BARC+ME60SEC',
 'Spacer ETCH',
 'ME_Time',
 'SPACER_CCD',
 'ecipe:Z-CS-DOE1',
 'SPACER-OE-13SEC',
 'z-via-doe13-150s',
 'Z-VIA-DOE-13 150s',
 'Z-VIA DOE13',
 'Z-CS-SHORT-ME',
 'Z-VIA-DOE15',
 'Z-ONO-OTP',
 'standard',
 'Via-Etch-DOE9; Via-Etch-DOE10; Via-Etch-DOE11; Via-Etch-DOE12; Via-Etch-DOE13; Via-Etch-DOE14; Via-Etch-DOE15; Via-Etch-DOE16; Via-Etch-DOE17; Via-Etch-DOE18',
 'Z-CS-LONG-BC',
 'Z-VIA-DOE13-150s',
 'Z-CS-DOE-99',
 'Z-RESP1-EXASHING',
 'Z-VIA-DOE5, Z-VIA-DOE6, Z-VIA-DOE7',
 'Z_CS_DOE1',
 'Z-VIA+ASH',
 'Z-ONO-ETCH',
 'SPACER-OE-13S,SPACER-BET-ROX',
 'z via doe 13',
 'AS PER RUN CARD',
 'CP TEST',
 'ecipe: BARCER1-33S',
 'Z-CS-DOE1-W/OASH',
 'Z-CS-DOE0',
 'Z-VIA-1-13-NOASH',
 'Z--VIA-DOE13']

----------------------------------------------------------------------------------------------------------------